body {
    font-family: Arial, sans-serif;
    margin: 20px;
    margin-left: 22vw;
    margin-top: 10vh;

}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    padding: 10px 15px;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}
